{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<div class="container body-content">
    <head>
    <meta http-equiv="refresh" content="30">
    </head>
    <h2>Bus Information</h2>
    <img src="{{url_for('static', filename='bus.gif')}}" alt="Bus" style="width:150px;height:150px;">
    <div>
        <h4>You entered postcode <span>{{ info[0] }}</span>
        {% if info[1] == 0 %}
        , however this postcode is not valid, press the logo to try again.</h4>
        {% else %}
        </h4>
            <p></p>
            {% for stop in info[1] %}
                <h5>Bus Stop: {{stop[1]}}</h5>
                {% if stop[0]|length != 0 %}
                    <ul>
                    {% for bus_num in stop[0] %}
                      <li>Bus Number: {{ bus_num }}</li>
                      <ul>
                      {% for arrival_time in stop[0][bus_num] %}
                         <li>Arriving at: {{ arrival_time }}</li>
                      {% endfor %}
                      </ul>
                    {% endfor %}
                    </ul>
                {% else %}
                    <div>No buses for this stop</div>
                {% endif %}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

