{% extends "layout.html" %}
{% block title %}Bus Information{% endblock %}
{% block content %}
<div class="container body-content">
    <head>
    <meta http-equiv="refresh" content="30">
    </head>
    <h2>Bus Information</h2>
    <img src="{{url_for('static', filename='bus.gif')}}" alt="Bus" style="width:150px;height:150px;">
    <div>
        {% if info != 0 %}
        {{info}}
        {% else %}
        <h4>Not a valid postcode, try again.</h4>
        {% endif %}
    </div>
</div>
{% endblock %}

